<div class="card ml-5 mr-5 p-5 mt-5">
  <div class="card-header display-4 mt-4-auto mb-3"><%= @user.first_name %> <%= @user.last_name %></div>
    <div class="card-body">
      <h5 class="card-title"><%= @user.description %></h5>
      <em class="card-title"><%= @user.email %></em></br>
      <div class="btn btn-outline-info mt-3 mb-3 mr-3" role="button" aria-pressed="true"> <%= link_to "Editer", edit_user_path(@user) %></div>
      <div class="btn btn-outline-secondary mt-3 mb-3 mr-3" role="button" aria-pressed="true"> <%= link_to "Tes informations de connexion", edit_user_registration_path(@user) %></div>
    </div>
  </div>
</div>


<div class="container mt-5">
  <div class="album ">
    <div class="container"></div>
      <div class="row">
        <% @user.organized_events.each do |event| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><rect width="100%" height="100%" fill="#b7d8d7"/></svg>
              <div class="card-body">
                <h2 class="card-text"><%= event.title %></h2>
                <p class="card-text"><%= event.description %></p>
                <em class="card-text">Créé par <%= event.admin.first_name %> <%= event.admin.last_name %></em>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Voir", event_path(event.id)%></button>
                      <button type="button" class="btn btn-sm btn-outline-info"><%= link_to "Editer", edit_event_path(event.id) %></button>
                      <button type="button" class="btn btn-sm btn-outline-danger"> <%= link_to 'Supprimer', event_path(event.id), method: :delete, data: { confirm: 'Es-tu sûr ?' } %></button>
                    </div>
                    <small class="text-muted"><td><%= event.attendances.count %> inscrits</td></small>
                  </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



