<div class="masthead pt-5 mb-5">
  <div class="container">
    <h1 class="display-3 masthead-text mt-5">Edition de <%= @event.title.capitalize%><h1>
  </div>
</div>

<div class="card ml-5 mr-5 p-5 mt-5">
  <%= form_for(@event, as: :event, url: event_path(@event), method: :patch, html: { class: "edit_event", id: "edit_event.id" }, multipart: true) do |f|  %>

      <div class="field">
        <%= f.label :eventimage, "Choisis une image" ,class: "col-md-4 control-label"%>
        <%= f.file_field :eventimage, class:"col-md-6 form-control mb-4"%>
      </div>

      <div class="field">
        <%= f.label :title, "Comment s'appelle ton événement" ,class: "col-md-4 control-label"%><small class="text-muted">(entre 5 et 140 caractères)</small>
        <%= f.text_field :title, class:"col-md-6 form-control mb-4" %>
      </div>

      <div class="field">
        <%= f.label :description, "Ça parle de quoi ?", class: "col-md-4 control-label" %><small class="text-muted">(entre 20 et 1000 caractères)</small>
        <%= f.text_area :description, class:"col-md-6 form-control mb-4" %>
      </div>

      <div class="field">
        <%= f.label :location, "Ça se passe où ?", class: "col-md-4 control-label" %>
        <%= f.text_field :location, class:"col-md-6 form-control mb-4" %>
      </div>

        <div class="field">
          <%= f.label :start_date, "Ça commence quand ?", class: "col-md-3 control-label" %>
          <%= f.datetime_local_field :start_date, class: 'form-control', value: Time.now.localtime.strftime("%Y-%m-%dT%H:%M"), class:"col-md-6 form-control mb-4"  %>

        </div>

        <div class="field">
          <%= f.label :duration, "Ça dure combien de temps ?", class: "col-md-5 control-label" %><small class="text-muted">(en minutes)</small>
          <%= f.number_field :duration, min: 5, step: 5, class:"col-md-6 form-control mb-4"  %>
        </div>

        <div class="field">
          <%= f.label :price, "Ça coûte combien ?", class: "col-md-5 control-label" %>
          <%= f.number_field :price, in: 0..1000, step: 1, class:"col-md-6 form-control mb-4"%>
        </div>

      <div class="actions">
        <%= f.submit "Editer", class:"btn btn-outline-secondary nav-link btn-sub" %>
      </div>
  <% end %>
</div>
