<div class="card ml-5 mr-5 p-5 mt-5">
  <div class="card-header display-4 mt-4-auto mb-3 d-flex justify-content-between"><%= @event.title%> <small class="text-muted"><%= @event.attendances.count %> inscrits</small></div>
    <div class="card-body">
      <h5 class="card-title mb-4"><%= @event.description %></h5>
      <p class="card-title">Prévu pour le <strong><%= @event.start_date.to_formatted_s(:long) %></p></strong>
      <p class="card-title">Termine le <strong><%= @event.end_date.to_formatted_s(:long) %></p></strong>
      <p class="card-title">Ça se passe au <strong><%= @event.location %></p></strong>
      <p class="card-title">Ça coûte <strong><%= @event.price %> €</p></strong>
      <p class="card-title">Evénement créé par <strong><%=link_to @event.admin.first_name + " " + @event.admin.last_name, user_path(@event.admin.id) %></p></strong>
      <div class="btn btn-outline-info mt-3 mb-3 mr-3" role="button" aria-pressed="true"> <%= link_to "S'inscrire" %></div>
    </div>
  </div>
</div>

