<div class="card ml-5 mr-5 p-5 mt-5">
  <div class="card-header display-4 mt-4-auto mb-3 d-flex justify-content-between">Inscription</div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
          <h5 class="card-title mb-4">L'inscription sera validée dès que le paiement sera effectué !</h5>
          <p class="card-title">Récapitulatif de l'événement :</p>
          <p class="card-title">Titre : <%= @event.title.capitalize %></p>
          <p class="card-title">Adresse : <%= @event.location %></p>
          <p class="card-title">Débute le : <%= @event.start_date.strftime("%d/%m/%Y à %I:%M") %></p>
          <p class="card-title"></p>
          <em class="text-muted mb-3"></em>
      </div>
      <div class="col-3 offset-2 text-center pt-5">
          <%= form_tag url_for(action: 'create'), method: "post" do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
            <label class="amount">
              <p>Finaliser le paiement</p>
              <p>de <strong><%= @event.price %> €</strong></p>
            </label>
          </article>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="<%= "Inscription" %>"
                  data-currency="eur"
                  data-amount="<%= @amount %>"
                  data-locale="auto"></script>
        <% end %>
      </div>
    </div>
  </div>
</div>
